/* src/pages/AdminDashboard.css */

.admin-dashboard {
  padding: 20px;
  text-align: center;
}

.admin-dashboard h1 {
  margin-bottom: 20px;
}

.admin-dashboard ul {
  list-style-type: none;
  padding: 0;
}

.admin-dashboard li {
  margin: 10px 0;
}

.admin-dashboard a {
  text-decoration: none;
  color: #007BFF;
  font-size: 18px;
}

.admin-dashboard a:hover {
  text-decoration: underline;
}