.dashboard-container {
    padding: 0;
    background-color: #f4f4f4;
    min-height: 10vh;
    margin: 0;
}

/* Full-width sale banner */
.sale-banner {
    background-color: #ffffff;
    color: #505050;
    height: 70px;
    text-align: center;
    padding: 2px 0;
    font-size: 10px;
    width: 100%;

    margin: 0;
}

.sale-banner h2 {
    margin: auto;
    margin-top: 30px;
}
