@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.prebuild-pc {
  padding: 20px;
  font-family: 'Oxanium', sans-serif;
}

.prebuild-pc input,
.prebuild-pc select {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prebuild-pc button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.prebuild-pc button:hover {
  background-color: #0056b3;
}