/* Sale banner container */
.sale-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: #505050;
}

/* Sale banner text */
.sale-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure the banner takes full width */
}

/* Sale text style */
.sale-text {
    font-size: 18px; /* Smaller text */
    font-weight: bold;
    opacity: 0; /* Start invisible for animation */
    transition: opacity 0.51s ease-in-out;
}

/* Fade in animation */
.fade-in {
    opacity: 1;
}

/* Fade out animation */
.fade-out {
    opacity: 0;
}

/* Arrow button styles - Remove these styles */
