html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto; /* Pushes footer to the bottom */
}
/* App.css */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 0.8s ease-in-out;
  }
  
  .fade-in-delayed {
    animation: fadeIn 1.2s ease-in-out;
  }
  
  .app-container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.2s;
  }
  