/* Import the Fredoka font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 247) !important;
  padding: 10px 20px;
  font-family: 'Fredoka', sans-serif; /* Apply Fredoka font */
  position: sticky;
  top: 0px;
  z-index: 10;
  height: 10px;
  width: 100%;
  transition: top 0.3s ease, margin-top 0.3s ease;
}

.navbar-logo {
  margin-right: auto;
}

.navbar-logo img {
  height: 20px;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 11 px;
  transition: all 0.3s ease;
  font-family: 'Fredoka', sans-serif; /* Apply Fredoka font */
}

.navbar-link:hover {
  color: rgb(0, 0, 0); /* No blue hover effect */
}

.navbar-link.active {
  font-size: 20px; /* Active link styling */
}

.navbar-login {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  font-family: 'Fredoka', sans-serif; /* Apply Fredoka font */
}

.navbar-cart img {
  height: 24px;
  width: auto;
}
.navbar-user {
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

/* Dropdown styling */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.navbar-user:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Dropdown button */
.dropdown-menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.dropdown-menu button:hover {
  color: rgb(255, 0, 0);
}



/* Mobile Styling */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }
}
